/* Estilos generales */
main {
  background-color:white;
}
body {
  background-color:lightgrey !important;
  font-family: 'Muli', sans-serif !important;
  width: 100%;
  margin: 0 auto;
}
header {
  border-radius: 0px 0px 30px 30px;
  border: none;
  background-size: 100% 100%;
  background-image: url(../public/assets/background_bnr.jpg);
  display: flex;
  align-items: center;
  padding: 20px 40px;
}
.titulo-cabezera {
  font-weight: 900;
  font-size: 32px;
  color: #f0f0f0;
}
.titulo-cuerpo {
  font-weight: 900;
  font-size: 32px;
  margin-left: -25px;
  color: #21334d;
}
.cuerpo{
  padding: 30px 0 30px 5% ;
  align-content: center;
}
.center-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitulo-cuerpo {
  font-weight: 900;
  font-size: 24px;
  color: #21334d;
}
.icono-cabezera {
  height: 3.75rem;
  vertical-align: text-top;
}

/* Estilos tabla */
th {
  background-color: #21334d;
  color: white;
  width: 100px;
}
.celda {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clasificado {
  background-color: #E3FFE2;
}
.clasificadoRepesca {
  background-color: #e2e8ff;
}
.noClasificado {
  background-color: #FFE2E2;
}

/* Estilos resultados */
.ganador {
  color: green;
  font-weight: 600;
}
.empate {
  color: gray;
  font-weight: 600;
}
.perdedor {
  color:red;
  font-weight: 300;
}
.fecha{
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
}
.resultado{
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}
.izquierda {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.derecha {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.equipos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}
.imagen-equipos {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.imagen-resultado {
  width: 80%;
}
.icono-editar{
  height: 20px;
}
.equipo {
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.titulo-resultado {
  font-size: 28px;
}
.icono-editar{
  height: 20px;
}
.input {
  height: 32px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 10px;
  border-width: 1px;
  margin: auto;
}
.input-resultado {
  width: 10%;
  font-size: 20px;
  text-align: center;
  color: #21334d;
}
.input-titulo {
  font-size: 24px;
  font-weight: 300;
  max-width: 75%;
  color: #21334d;
}
.input-imagen {
  font-family:'Times New Roman', Times, serif;
  width: 80%;
  color: #21334d;
}
.enviar {
  background-color: #21334d;
  border-radius: 20px;
  color: #f0f0f0;
  font-size: 20px;
  padding: 10px 20px;
}


/*Menu*/
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: auto;
  right: 36px;
  top: 36px;
  cursor: pointer;
}
.bm-burger-button.hidden {
  display: none;
}
.bm-burger-bars {
  background-color: white;
}
.line-style {
  position: absolute;
  height: 20%;
  left: 0;
  right: 0;
}
.cross-style {
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}
.bm-cross {
  background: #bdc3c7;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-cross-button.hidden {
  display: none;
}
.bm-menu {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1000; /* capa exterior */
  top: 0;
  left: 0;
  background-color: #21334d; 
  overflow-x: hidden; /* Scroll horizontal desactivado */
  padding-top: 60px;
  transition: 0.5s; /*0.5 segundos efecto de transición slide en la barraNavegacion*/
}
.bm-item-list {
  color: white;
  margin-left: 10%;
  font-size: 20px;
}
.bm-item-list > * {
  display: flex;
  text-decoration: none;
  padding: 0.7em;
}
.bm-item-list > * > span {
  margin-left: 10px;
  font-weight: 700;
  color: white;
}
.bmItemListSelected {
  font-size: 24px;
  opacity: 20%;
}