/* Estilos tabla */
th {
    background-color: #21334d;
    color: white;
}
.par {
    background-color: #e9e9e980;
}
.celda {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clasificado {
    background-color: #E3FFE2;
}
.clasificadoRepesca {
    background-color: #e2e8ff;
}
.noClasificado {
    background-color: #FFE2E2;
}
.nombre {
    width: 150px;
}