body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ingredientes{
  margin-left: 20px;
}

.l_ingredientes{
  margin-left: 20px;
}

.pasos{
  margin-left: 20px;
}

.l_pasos{
  margin-left: 25px;
}

.img_pan{
  margin-top: 20px;
  width:550px;
  height:430px;
}